<h3>@Model.GetName()</h3>

<form action="/venues/update/@Model.GetId()" method="post">
  <input name='_method' type='hidden' value='PATCH'>
  <input type="text" name="new-description" placeholder="Enter new Name:" required>
  <button type="submit" name="button">Submit</button>
</form>
